.save {
  width: 35px;
  height: 35px;
  background-color: var(--green);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.save img {
  width: 80%;
}

.save::after {
  opacity: 0;
  content: attr(data-title);
  position: absolute;
  margin-top: 70px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.9); 
  font-size: 15px; 
  padding: 5px 10px; 
  border-radius: 5px;
  border: 1px solid #333;
  color: #333;
  transition: 0.5s;
  transform: scaleX(0);
}
.save:hover::after {
  z-index: 1;
  opacity: 1;
  transform: scaleX(1);
  transition: 0.5s;
 }