.form {
  max-width: 450px;
}

.form label {
	display:flex;
	margin-left: 15px;
  font-family: inherit;
	font-size: 18px;
  padding-top: 10px;
  height: 40px;

}

.form label > span{
	display: inline-block;
	width: 150px;
}
.form input{
	border: none;
	border-bottom: 1px solid var(--border-color);
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: inherit;
  font-size: 16px;
  transition: 0.4s;
  
}


.form input:focus{
	border-bottom: 1px solid var(--blue);
  transition: 0.4s;
}

.submit {
  background-color: var(--blue);
  color: var(--light-txt-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  float: right;
}

.colorBlocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colorBlock input[type=radio] {
	display: none;
}

.colorBlock label {
	display: inline-block;
	cursor: pointer;
  margin: 5px;
	border: 2px solid #7a7a7a;
	border-radius: 6px;
	user-select: none;
  height: 32px;
  width: 50px;
}
 
/* Checked */
.colorBlock input[type=radio]:checked + label {
  border: 2px solid rgb(230, 230, 230);
  height: 28px;
  width: 46px;
  margin-right: 9px;
}
 
/* Hover */
.colorBlock label:hover {
	border: #666;
}